.forecast-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 35px 0 35px;
}

.section {
    width: 100%;
    padding: 15px;
}

.section-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.section-top-left {
    float: left;
    width: 50%;
    font-size: 14pt;
}

.section-top-right {
    float: right;
    width: 50%;
    text-align: right;
    color: #c5c5c5;
    font-size: 10pt;
}

.section-middle {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    color: #c5c5c5;
    font-size: 10pt;
    margin-top: -10px;
}

.section-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
}

.section-bottom-left {
    float: left;
    width: 50%;
    color: #c5c5c5;
    font-size: 10pt;
}

.section-bottom-right {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 10pt;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.section-left {
    float: left;
    width: 85%;
}

.section-right {
    float: right;
    width: 15%;
}

.img-weather {
    width: 50px;
}

.img-close {
    width: 10px;
    cursor: pointer;
}

.temp-container {
    display: flex;
    text-align: left;
}

.temp-left-container {
    flex: 1;
}

.temp-right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.temp-top-container {
    flex: 1;
    display: flex;
}

.temp-selected {
    color: #000000;
}

.temp-size {
    font-size: 40pt;
}

.temp-type {
    font-size: 20pt;
}

.section-bottom-right-item {
    padding: 5px;
}

.active-button {
    cursor: pointer;
    color: #808080;
}

.color-hot {
    color: #ffa25b;
}

.color-cold {
    color: #459de9;
}

.background-color-hot {
    background-color: #fffaf1;
}

.background-color-cold {
    background-color: #f1f2ff;
}
